.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-blackuced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sheet {
  padding: 80px;
  background-color: ivory;
}

.sheet-container {
  margin: 20px;
}

.sheet-head-wrapper {
  display: flex;
}

.sheet-head-left-wrapper {
  flex: 2;
  text-align: left;
  padding: 10px;
  padding-left: 0px;
}

.sheet-head-right-wrapper {
  flex: 2;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.sheet-head-right-wrapper textarea {
  width: 99%;
}

.sheet-box-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sheet-row-container {
  display: flex;
}

.box-1-edaravone {
  flex: 1;
  /* text-align: left; */
  border: 1px solid black;
  padding: 10px;
}

.box-2-edaravone {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
}

.box-3-bipap {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
}

.box-4-bipap {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
}

.box-5-sleep {
  flex: 2;
  border: 1px solid black;
  padding: 10px;
}

.box-6-bipap {
  flex: 2;
  border: 1px solid black;
  padding: 10px;
}

.box-7-elimination {
  flex: 2;
  border: 1px solid black;
  padding: 10px;
}

.box-8-medication {
  flex: 2;
  border: 1px solid black;
  padding: 10px;
}

.box-9-gtube {
  flex: 2;
  border: 1px solid black;
  padding: 10px;
}

.box-10-dinner {
  flex: 2;
  border: 1px solid black;
  padding: 10px;
}

.box-11-pain-discomfort {
  flex: 2;
  border: 1px solid black;
  padding: 10px;
  /* text-align: left; */
}

.box-12-choking-gagging {
  flex: 2;
  border: 1px solid black;
  padding: 10px;
}

.sheet-foot-wrapper {
  text-align: left;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;  
  display: flex;
}

.sheet-foot-wrapper textarea {
  width: 99%;
}

.sheet-foot-left {
  flex: 7;
}

.sheet-foot-right {
  flex: 1;
}

.box-7-inner-wrapper {
  display: flex;
}

.box-8-inner-wrapper {
  display: flex;
}

.box-9-inner-wrapper {
  display: flex;
}

.box-11-inner-wrapper {
  display: flex;
  flex-direction: column;
}

.box-title {
  font-weight: bold;
  text-align: center;
}

.box-7-inner-left {
  flex: 1;
  border-right: 1px solid black;
}

.box-7-inner-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.box-8-inner-left {
  flex: 2;
}

.box-8-inner-middle {
  flex: 1;
}

.box-8-inner-right {
  flex: 2;
}

.box-9-inner-left {
  flex: 1;
}

.box-9-inner-right {
  flex: 1;
}

.box-11-bottom {
  display: flex;
}

.box-11-bottom-left {
  flex: 1;
}

.box-11-bottom-right {
  flex: 1;
}

.binary-labeled-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.binary-options {
  font-weight: bold;
}

.binary-label {
  margin-right: 8px;
}

.binary-radio-right {
  margin-left: 8px;
}

.date-title {
  font-weight: bold;
}

.date-text {
  font-weight: bold;
  color: darkred;
}

.save-button-wrapper {
  text-align: right;
}

.save-button {
  padding: 10px;
  background-color: palegreen;
  border-radius: 5px;
  border: 1px solid darkslategray;
  font-weight: bold;
}

.save-button:hover{
  background-color: lightgreen;
}